<div class="container-fluid">
    <div class="row align-items-center">
        <div class="col-12 search-form-wrap js-search-form">
            <form method="get" action="#">
                <input type="text" id="s" class="form-control" placeholder="Search...">
                <button class="search-btn" type="submit"><span class="icon-search"></span></button>
            </form>
        </div>
        <div class="col-3 site-logo">
            <a href="@Url.Action("Index", "Home")" class="text-black h2 mb-0">PanoramaMD</a>
        </div>
        <div class="col-6 text-right">
            <nav class="site-navigation" role="navigation" style="margin: 0 auto;">
                <ul class="site-menu js-clone-nav mr-auto d-none mb-0 p-0 d-lg-flex justify-content-center" style="row-gap: 20px;flex-wrap: wrap;">
                    <li><a href="@Url.Action("Index", "Home")">Principală</a></li>
                    <li><a href="category.html">Politică</a></li>
                    <li><a href="category.html">Tehnologii</a></li>
                    <li><a href="category.html">Divertisment</a></li>
                    <li><a href="category.html">Sport</a></li>
                </ul>
            </nav>
            <a href="#" class="site-menu-toggle js-menu-toggle text-black d-inline-block d-lg-none"><span class="icon-menu h3"></span></a>
        </div>
        <div class="col-3">
            <nav class="site-navigation" role="navigation" style="margin: 0 auto;">
                <ul class="site-menu js-clone-nav mr-auto d-none d-lg-flex mb-0 p-0 justify-content-end">
                    @if (!string.IsNullOrEmpty(ViewData["FirstName"] as string))
                    {
                        <li>Bine ai venit, <a>@ViewData["FirstName"]!</a></li>
                        <li><a href="@Url.Action("Logout", "Authorization")">Delogare</a></li>
                    }
                    else
                    {
                    <li><a href="@Url.Action("Login", "Authorization")">Autorizare</a></li>
                    <li><a href="@Url.Action("Register", "Authorization")">Înregistrare</a></li>
                    }
                    <li class="d-none d-lg-inline-block"><a href="#" class="js-search-toggle"><span class="icon-search"></span></a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>